<div class="title">
    <h1>Expense Record System</h1>
</div>
<div class="component-container">   
    <div class="create-form">
        <label for="description">Description</label>
        <input type="text" id="description" [(ngModel)]="newRecord.description">
        <label for="type">Type</label>
        <input type="text" id="type" [(ngModel)]="newRecord.type">
        <label for="amount">Amount</label>
        <input type="text" id="amount" [(ngModel)]="newRecord.amount">
        <label for="date">Date</label>
        <input type="text" id="date" [(ngModel)]="newRecord.date">
        <button class="add-button" (click)="addRecord(newRecord)">Add</button>
    </div>
    <div class="expense-records">
        <div class="records-title">Records:</div>
        <ul *ngFor="let record of records">
            <li class="expense-record">
                <span>{{record.description}}, {{record.type}}, {{record.amount}}, {{record.date}}</span>
                <button class="delete-button" (click)="deleteRecord(record)">Delete</button>
            </li>
        </ul>
    </div>
</div>